@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#header
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/pic.jpg);
    background-size: 160%;
    background-position: center;
    background-attachment: fixed;
}
section
{
    padding: 100px;
    color: #111;
}
section h2
{
    font-size: 2.5em;
    margin-bottom: 10px;
}
section p
{
    font-size: 1.2em;
}
body
{
    background: url(images/brown.jpg);
}


#topnav {
  overflow: hidden;
  background-color: #333;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

#topnav a.active {
  background-color: #4CAF50;
  color: white;
}
